<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ProjectPlantDB" connectionString="Data Source=(LocalDb)\LocalDB;initial Catalog=ProjectPlantDB;Integrated Security = True;"/> -->
    <add name="ProjectPlantDB" connectionString="Server=(LocalDB)\LocalDB;Database=ProjectPlantDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>